{% load static %}
<head>
    <title>Reporter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'reporter/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 class="title">Malware Analysis Reporter</h2>
    <form action="{% url 'reporter:upload_file' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
            <label for="myFileId">Choose file</label>
            <input type="file" name="myfile" class="form-control-file" id="myFileId">
        </div>
        <button type="submit" value="submit" class="btn btn-primary">Upload</button>
    </form>

    <form action="{% url 'reporter:new_report' %}" method="post">{% csrf_token %}
        {% if form.errors %}
            errors: {{ form.errors }}
        {% endif %}
        {% include "reporter/report.html" %}
        {% include "reporter/malware_info.html" %}
        {% include "reporter/malware_dep.html" %}
        {% include "reporter/malware_characteristic.html" %}
        {% include "reporter/analysis_findings.html" %}
        {% include "reporter/supporting_figures.html" %}
        <button type="submit" value="submit" class="btn btn-primary">Create report</button>
    </form>
</div>
</body>